@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    width: 100%;
    margin: 0 auto;
}

.bbs_title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    /* border: 1px solid rgb(255, 20, 20); */
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bbs_title > span {
    padding-left: 20px;
}


#wrap2 {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid rebeccapurple; */
    margin-top: 20px;
    margin-bottom: 50px;
}

.list_title,
.list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.list_title {
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notice_no {
    width: 10%;
}

.notice_head {
    width: 40%;
}

.list > .notice_head {
	text-align: left;
	padding-left: 30px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.notice_regdate {
    width: 20%;
}

.notice_writer {
    width: 10%;
}

.notice_delete {
    width: 20%;
}

.notice_delete a {
	text-decoration: none;
	color: black;
	transition: 0.2s;
}

.notice_delete a:hover {
	color: red;
}
.list {
    height: 50px;
    text-align: center;
    font-size: 13px;
    border: 1px solid lightgray;
    transition: 0.2s;
}

.list:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.list:hover {
    background-color: #f8f8f8;
}

/* 등록 및 검색 박스 */
.side_bar {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 등록 */
.gameInsert {
	width: 10%;
    margin-left: 20px;
}

.insertBtn {
    width: 100px;
    height: 30px;
    background-color: #07553B;
    border: none;
    border-radius: 5px;
    color:  white;
    transition: 0.1s;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
}

.insertBtn a {
    text-decoration: none;
    color: white;
}

.insertBtn:hover {
    background-color: rgb(219, 219, 219);
    color: black;
}

/* 검색 */
.search_area {
	width: 30%;
    text-align: center;
    margin-right: 20px;
 
}

#keyword {
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
    padding-left: 3px;
    width: 10vw;
    height: 30px;
}

.search_btn {
    border: none;
    background-color: #07553B;
    border-radius: 5px;
    color: white;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

/* 페이징 */
.pageInfo_wrap {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.pageInfo_area {
	margin: 0 auto;
	text-align: center;
}
.pageInfo_area ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

li {
	padding: 20px;
}

li a {
	color: black;
	text-decoration: none;
}

.notice_head a {
	color: black;
	text-decoration: none;
}