@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


body {
    width: 100%;
    margin: 0 auto;
}

.bbs_title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    /* border: 1px solid rgb(255, 20, 20); */
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bbs_title > span {
    padding-left: 20px;
}


#wrap2 {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid rebeccapurple; */
    margin-top: 20px;
    margin-bottom: 50px;
}

.list_title,
.list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.list_title {
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.order_no {
    width: 10%;
}

.order_user {
    width: 20%;
}

.list > .notice_head {
	text-align: left;
	padding-left: 30px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.order_title {
    width: 40%;
}

.order_price {
    width: 10%;
}

.order_regdate {
    width: 20%;
}


.list {
    height: 50px;
    text-align: center;
    font-size: 13px;
    border: 1px solid lightgray;
    transition: 0.2s;
}

.list:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.list:hover {
    background-color: #f8f8f8;
}

/* 등록 및 검색 박스 */
.side_bar {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 페이징 */
.pageInfo_wrap {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.pageInfo_area {
	margin: 0 auto;
	text-align: center;
}
.pageInfo_area ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

li {
	padding: 20px;
}

li a {
	color: black;
	text-decoration: none;
}

.notice_head a {
	color: black;
	text-decoration: none;
}


/* 총 매출액 */

.total_price_box {
	margin: 0 auto;
	width: 50%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.total_head {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
}

.total_price {
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}