body {
	margin: 0 auto;
	background-color: #f6f5f5;
	overflow-x: hidden;
}

.wrap {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}


.cartListBox {
	border: 1px solid lightgray;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	height: 180px;
	padding: 14px;
}

.gameImg {
	width: 300px;
}

.gameTitle {
	width: 500px;
	margin-left: 3%;
	line-height: 180px;
}

.gamePrice {
	width: 100px;
	text-align: center;
	line-height: 180px;
}

.cartDelete {
	width: 50px;
	text-align: center;
	line-height: 180px;
}

.cartListBottom {
	margin-top: 3%;
}

.totalPrice {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.totalPrice1 {
	font-size: 16px;
	font-weight: bold;
}

.orderBtn {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	color: black;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	font-size: 13px;
	outline: none;
	transition: 0.2s;
	background-color: white;
	cursor: pointer;
}

.button {
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: white;
}

.deleteButton {
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: white;
}

.deleteButton:hover {
	color: red;
}