body {
    margin: 0 auto;
    background-color: #f6f5f5;
    overflow-x: hidden;
}

/* 게임목록 */

.big_wrap{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    /* border: solid 1px navy; */
}


.head_title{
    font-size: 24px;
    font-weight: 300;
    margin-top: 3%;
    height: auto;
    border-bottom: 1px solid rgba(195,198,206,.5);

}

.wrap1{
   
    height: 500px;
    display: flex; 
    justify-content: space-around;
    margin-top: 3%;
}



.poster{
  
    margin-left: 20px;
    margin-right: 20px;
  
    width: 25%;
}

.photo{
    border-radius: 4px;
    background-color: rgba(195,198,206,.5);
    height: 80%;
    background-size: 100% 100%;
}


.game_content{
    margin-top: 5px;
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-weight: 400;
    margin-left: 10px;
}

.game_price{
    margin-top: 10px;
}

.discount{
    align-items: center;
    background-color: rgb(0, 116, 228);
    color: rgb(245, 245, 245);
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
}

.price{
    margin-left: 10px;

}


.wrap2{
    
    height: 500px;
    display: flex; 
    justify-content: space-around;
    margin-top: 3%;
}



