@charset "UTF-8";

.container {
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* 카테고리 */

.wrap {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;

}

#clicked {
	width: 98%;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid red; */
    background-color: #07553B;
    text-align: center;
    font-size: 11px;
/*     border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    transition: 0.2s;
    text-decoration: none;
    color: #f5f5f5;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}

.category {
	width: 100%;
}

.category > button {
	width: 98%;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid red; */
    background-color: #f5f5f5;
    text-align: center;
    font-size: 11px;
/*     border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    transition: 0.2s;
    text-decoration: none;
    color: black;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}

button:hover {
/*     border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    background-color: #07553B;
    color: #f5f5f5;
}

/* 드롭다운 메뉴 및 검색창 */
.menu_option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

select {
    width: 150px;
    height: 30px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

#keyword {
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

.search_area > button {
    width: 50px;
    height: 30px;
    background-color: lightgray;
    border: none;
    outline: none;
    border-radius: 5px;
}

.search_area > input {
	padding-left: 10px;
}

::placeholder {
    padding-left: 5px;
    font-size: 0.8rem;
}

/* i {
    font-size: 12px;
    color: white;
} */

/* .menu_option > div {
    margin-right: 50px;
} */



/* 게임 목록 */
.list_content {
    margin-top: 10px;
}


.g_info_wrap {
    width: 100%;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}

/* .g_img {
   	width: 100%;
    height: 100px;
    
} */

.g_img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.g_subject_genre {
    width: 50%;
    text-align: left;
    margin-left: 50px;
    /* border: 1px solid green; */
}

.g_sub {
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.g_sub > span {
    font-size: 15px;
}

.g_genre_plat {
    display: flex;
    align-items: center;
}

.g_genre_plat > div {
    height: 20px;
    padding: 0 2% 0 2%;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
    font-size: 11px;
    font-weight: 300;
    background-color: rgb(240, 240, 240);
    color: #9f9f9f;
    border-radius: 3px;
}

.g_price {
    width: 20%;
    font-size: 13px;
    text-align: right;
    padding-right: 50px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    /* margin-left: 200px; */
    /* border: 1px solid coral; */
}

.g_release {
    width: 20%;
    font-size: 0.9rem;
    /* border: 1px solid blue; */
}

/* 페이징 */
.pageInfo_wrap {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.pageInfo_area {
	margin: 0 auto;
	text-align: center;
}
.pageInfo_area ul {
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 12px;
	color: black;
}

li {
	padding: 20px;
}

li a {
	color: black;
	text-decoration: none;
}

button i {
	color: white;
}
