body {
    margin: 0 auto;
    background-color: #f6f5f5;
    overflow-x: hidden;
}

/* 최상단 배너 */

.topBanner {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

.bannerText:link, .bannerText:visited, .bannerText:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bannerText:hover {
    color: #CED46A;
    text-decoration: none;
}

/* 상단 타이틀 및 유저 박스 */

#titleBox {
    width: 100%;
    height: 80px;
    border: 1px solid lightgray;
    display: flex;
}

#titleLogo {
    width: 15%;
    height: 80px;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
    line-height: 80px;
}

.iTag:hover {
    color: #07553B;
}

.mainTitle {
    border: 1px solid lightgray;
    width: 70%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}

.froGame:visited, .froGame:link, .froGame:focus{
    color: black;
    text-decoration: none;
}

.froGame:hover {
    color: #07553B;
    text-decoration: none;
}

/* 로고 밑줄 왼쪽에서 오른쪽으로 이동하는 애니메이션 */

.froGame{
    position: relative;
}

.froGame:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #07553B;
    
}

.froGame:hover:after{
    width: 100%;
    opacity: 1;
}

.userBox {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

/* 네비게이션 */

#navBar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

#mainMenu { 
    width: 70%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.search_area {
    margin-right: 65px;
}


.icon {
	cursor: pointer;
	border: none;
	 background-color : white ;
	width: 20px;
    height: 20px;
    font-size: 20px;
    padding-left: 10px;
}

#keyword {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: FontAwesome;
    background-color: rgb(238, 238, 238);
}

#mainSearch::placeholder {
    color: lightgray;
    text-align: right;
}

/* 드랍 다운 */

#mainMenu > ul {
    list-style: none;
}

#mainMenu > ul > li {
    margin: 0;
    float: left;
    margin-right: 50px;
    list-style: none;
}

#menuTitle > li > a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    color: black;
}

#menuTitle > li:hover #subMenu {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    z-index: 1;
    list-style: none;
}

#subMenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

ul {
	padding-inline-start: 0px;
}

#subMenu > li {
    text-align: center;
    padding: 10px 10px;
    background-color: rgba(206, 206, 206, 0.807);
    width: 100px;
    letter-spacing: 1px;
    font-size: 15px;
}

#subMenu > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.2s;
}

a:hover {
	color: #07553B;
	text-decoration: none;
}

/* 硫붿씤 寃뚯엫 �щ씪�대뱶 �대�吏� */

#mainGame {
    clear: both;
    margin: 0 auto;
    width: 99%;
    top: 30px;
    position: relative;
}

.sildeGameImg {
    background-color: white;
    width: 99%;
    height: 700px;
    overflow: hidden;
}

.sildeGameImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gameInfo:hover {
    background-color: rgba(15, 109, 15, 0.499)
}

/* 媛쒕컻�� 紐⑥쓬 */


/* 硫붿씤 而⑦뀗痢� �곸뿭 */

#section {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
    margin-top: 100px;
}

.bestGameTitle,
.saleGameTitle {
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 17px;
    letter-spacing: 0.5px;
    
}

.bestGameSection,
.saleGameSection {
    display: flex;
    justify-content: space-evenly;
}

.bestGame-contentBox,
.saleGame-contentBox {
    width: 250px;
    height: 390px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.bestGame-ImgBox > img,
.saleGame-ImgBox > img {
    max-width: 100%;
    max-height: 100%;
}

.bestGame-infoBox,
.saleGame-infoBox {
    text-align: center;
}

.bestGame-titleBox,
.saleGame-titleBox {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.bestGame-info,
.saleGame-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.salePercent {
    width: 50px;
    height: 20px;   
    background-color: #07553B;
    color: white;
    line-height: 20px;
    border-radius: 3px;
    padding-top: 1px;
}

.originPrice {
    text-decoration: line-through;
    color: lightgray;
}

.bestGame-contentBox:hover, .saleGame-contentBox:hover {
    box-shadow: 3px 3px 10px 1px rgba(204, 204, 204, 0.616);    
    z-index: 1;
}

/* 湲고� 寃뚯엫 紐⑸줉 */

#anotherGameListBox {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 17px;
    margin-bottom: 17px;
}

#anotherGameList {
    /* border: 1px solid rebeccapurple; */
    width: 30%;
    height: auto;
}

.recentGameTitle,
.releaseGameTitle,
.freeGameTitle {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: left;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

.recentPlusBtn {
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
    letter-spacing: 1px;
}

.recentGameList {
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 100px;
    /* border: 1px solid rebeccapurple; */
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.2s;
}

.recentGameList:hover {
    box-shadow: 3px 3px 10px 1px rgba(204, 204, 204, 0.616);
    z-index: 1; 
}

.recent-img > img {
    max-width: 100%;
    max-height: 100%;
}

.recent-subject,
.recent-price {
    line-height: 100px;
}

.price {
    margin-right: 50px;
}

#footBar {
    clear: both;
    width: 75%;
    height: 150px;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    margin-bottom: 50px;
}

.findGame {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 푸터 */

#footer {
    height: 200px;
    border-top: 1px solid lightgray;
}

.copyRight > .frogGameCopyRight {
    margin: 0 auto;
    padding: 60px 0;
    /* border: 1px solid red; */
    width: 75%;
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
}

