body {
    margin: 0 auto;
    background-color: #f6f5f5;
    overflow-x: hidden;
}

/* 최상단 배너 */

.topBanner {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

.bannerText:link, .bannerText:visited, .bannerText:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bannerText:hover {
    color: #CED46A;
    text-decoration: none;
}

/* 상단 타이틀 및 유저 박스 */

#titleBox {
    width: 100%;
    height: 80px;
    border: 1px solid lightgray;
    display: flex;
}

#titleLogo {
    width: 15%;
    height: 80px;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
    line-height: 80px;
}

.iTag:hover {
    color: #07553B;
}

.mainTitle {
    border: 1px solid lightgray;
    width: 70%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}

.froGame:visited, .froGame:link, .froGame:focus{
    color: black;
    text-decoration: none;
}

.froGame:hover {
    color: #07553B;
    text-decoration: none;
}

/* 로고 밑줄 왼쪽에서 오른쪽으로 이동하는 애니메이션 */

.froGame{
    position: relative;
}

.froGame:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #07553B;
    
}

.froGame:hover:after{
    width: 100%;
    opacity: 1;
}

.userBox {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

/* 네비게이션 */

#navBar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

#mainMenu { 
    width: 70%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    margin-right: 65px;
}

#mainSearch {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: FontAwesome;
    background-color: rgb(238, 238, 238);
}

#mainSearch::placeholder {
    color: lightgray;
    text-align: right;
}

/* 드랍 다운 */

#mainMenu > ul {
    list-style: none;
}

#mainMenu > ul > li {
    margin: 0;
    float: left;
    margin-right: 50px;
    list-style: none;
}

#menuTitle > li > a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    color: black;
}

#menuTitle > li:hover #subMenu {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    z-index: 1;
    list-style: none;
}

#subMenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

ul {
	padding-inline-start: 0px;
}

#subMenu > li {
    text-align: center;
    padding: 10px 10px;
    background-color: rgba(206, 206, 206, 0.807);
    width: 100px;
    letter-spacing: 1px;
    font-size: 15px;
}

#subMenu > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* head */


/* 검색바 */
.searchBar {
     margin-left: auto;
    margin-right: auto;
    display: flex ;
    justify-content: center;
	align-items: center;
}


#search {
	margin-left : 100px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}


.icon {
	cursor: pointer;
	border: none;
	 background-color: #353231;
	width: 50px;
    height: 50px;
    font-size: 40px;
    padding-left: 10px;
}





.layout_content{
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   

}

.titleFQA{
    font-size: 24px;
    color: #333;
    line-height: 28px;
    font-weight: 700;
    margin-left: 38px;
    
    
    
}

.titleFQA_wrap1{
    margin-top: 50px;
   display: flex;
 
   justify-content: space-around;
}

.titleFQA_wrap2{
    margin-top: 50px;
    display: flex;
  
    justify-content: space-around;
 }

.nav_item{
    
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    height: 161px;
    width: 20%;
    color: #333;
    vertical-align: middle;
    
   
}

/* border: solid 1px navy; */

.nav_item_text{
    width: 100%;    
    font-size: 23px;
    
    line-height: 24px;
    font-weight: 600;
    margin-top: 13%;
    
    text-align: center;

}

.nav_item:hover{
  
    color: #fff;
    cursor: pointer;

}



.card_count{
    display: block;
    height: 31px;
    padding: 0 24px 0 24px;
    font-size: 20px;
    color: #ccc;
    line-height: normal;
    font-weight: bold;
  

}



.headFQA_box1 a {
    color: white;
}




/* FroGame 고객센터 */

.headFQA{
    width: 100%;
    
    
    background-color: #353231;
    padding-top: 70px;
    padding-bottom: 40px;
}

.headFQA_box1{
    font-weight:bold;
    text-align: center;
    
    font-size: 40px;
    line-height: normal;
    font-weight: 700;
    margin: 0 auto;
    
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-line: none;    
}

/* 검색창 */



.search_bar{
    text-align: center;
    margin-top: 40px;
    margin-right: 5%;
    position: relative;
    margin-bottom: 40px;
}



/* 자주 찾는 도움말 */


.layout_content{
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   

}

.titleFQA{
    font-size: 24px;
    color: #333;
    line-height: 28px;
    font-weight: 700;
    margin-left: 38px;     
}

.titleFQA_wrap1{
    margin-top: 50px;
   display: flex; 
   justify-content: space-around;
}

.titleFQA_wrap2{
    margin-top: 50px;
    display: flex;  
    justify-content: space-around;
 }



/* border: solid 1px navy; */



.nav_item{
    
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    height: 161px;
    width: 20%;
    color: #333;
    vertical-align: middle;
      
}

.nav_item:hover{
    background: #07553B;
    color: white;
    cursor: pointer;

}

.card_count{
    display: block;
    height: 31px;
    padding: 0 24px 0 24px;
    font-size: 20px;
    color: #ccc;
    line-height: normal;
    font-weight: bold;
  

}

.nav_item_text{
    width: 100%;    
    font-size: 23px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 13%;    
    text-align: center;
}




