body {
    margin: 0 auto;
    background-color: #f6f5f5;
    overflow-x: hidden;
}


.over{
	cursor: pointer;
}

/* 로그인 02 */

#loginFrame {
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid lightgray;
    border-bottom: none;
}

.loginTitle {
    width: 30%;
    margin: 0 auto;
    padding: 15px 0px;
    border: 1px solid lightgray;
    border-bottom: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 17px;
}

.loginForm {
    margin: 0 auto;
    width: 30%;
    height: auto;
    border: 1px solid lightgray;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

.loginTableForm {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-spacing: 10px;
}


#user_id, #user_pw {
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    outline: none;
}

.loignBtnBox {
    padding: 10px 10px;
    padding-bottom: 30px;
}

#loginBtn {
    width: 214px;
    height: 30px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #07553B;
    color: white;
    border: none;
    border-radius: 2px;
}