body {
    margin: 0 auto;
    background-color: #f6f5f5;
}

a{
	text-decoration-line: none;
	text-decoration : none;
}


#contentFrame{
	 padding-top: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
    border: 1px solid lightgray;
    border-bottom: none;
    padding-bottom: 50px;
}


/* 게시판 div */

.noticeList{
  
    justify-content: center;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;

    
}

.notice_head{
    
    margin-left: 10%;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    letter-spacing: 2px;
    display : flex ; 
    justify-content: space-between;
    width : 80%
    

}




/* table class */
.notice_table{
    width: 80%;
    
    border-collapse: collapse;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    
}

th, td {
    border-bottom: 1px solid #44444457;
    padding: 10px;
    text-align: center;
  }


td{
    height: 50px;
}

.td1{
    width: 50px;
  
}

.td2{
    width: 70%;
    text-align: left;
}

.td3{
    width: 100px;
    
}
.td4{
    width: 100px;
   
}
.td5{
    width: 50px;
    
}



/* 글쓰기 버튼 */

.noticeInsertBtn{
    
    position: relative;
	display: inline-block;
  	border-radius: 0;
	color: #252221;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 20px;
  	letter-spacing: 2px;
  	text-decoration: none;
    padding-right: 2.5em;	
    
}

.Btn{
    margin-left: 10%;

}

.noticeDeleteBtn{
    
    position: relative;
	display: inline-block;
  	border-radius: 0;
	color: #252221;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 20px;
  	letter-spacing: 2px;
  	text-decoration: none;
    padding-right: 2.5em;	
   
    
}


 /* 검색창 */


.search_area {
	
	margin-top: 30px;
	float : right ;
	display: flex ;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.basic-input{
	 height: 30px;
	width: 250px;
	border-radius: 5px;
	 border: 1px solid lightgray;
}



.icon {
	cursor: pointer;
	border: none;
	 background-color: white;
	width: 30px;
    height: 30px;
    font-size: 30px;
    padding-left: 10px;
}


/* 페이지 */


.pageInfo {
	list-style: none;
	display: inline-block;
	margin: 50px 0 0 100px;
}

.pageInfo li {
	float: left;
	font-size: 20px;
	margin-left: 18px;
	padding: 7px;
	font-weight: 500;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.center {
	text-align: center;
}

.insertBtn {
	margin-left: 10%;
}



