@import
	url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@300&display=swap')
	;

body {
	margin: 0 auto;
	background-color: #f6f5f5;
	overflow-x: hidden;
}

/* 푸터 */
#footer {
	height: 200px;
	border-top: 1px solid lightgray;
}

.copyRight > .frogGameCopyRight {
	margin: 0 auto;
	padding: 60px 0;
	/* border: 1px solid red; */
	width: 75%;
	text-align: center;
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 1px;
}