body {
    margin: 0 auto;
}

#header {
    width: 100%;
    height: auto;
}

.topBox {
    width: 100%;
    height: 300px;
    background-color: coral
}

#footer {
    width: 100%;
    height: auto;
}

.bootomBox {
    width: 100%;
    height: 300px;
    background-color: burlywood;
}