<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frogame.www.mapper.GameMapper">

		<!-- 이미지 테이블 -->
	<resultMap type="com.frogame.www.model.ImgDTO" id="ImgDTO">
		<id column="game_no" property="game_no" />
		<result column="file" property="file" />
	</resultMap>
	
	<!-- 게임 테이블 -->
	<resultMap type="com.frogame.www.model.GameDTO" id="GameDTO">
		<id column="game_no" property="game_no" />
		<result column="game_title" property="game_title" />
		<result column="game_price" property="game_price" />
		<result column="game_genre" property="game_genre" />
		<result column="game_release" property="game_release" />
		<result column="game_sellcount" property="game_sellcount" />
		<result column="game_adultcheck" property="game_adultcheck" />
		<result column="game_min_os" property="game_min_os" />
		<result column="game_min_cpu" property="game_min_cpu" />
		<result column="game_min_ram" property="game_min_ram" />
		<result column="game_min_vga" property="game_min_vga" />
		<result column="game_min_dirX" property="game_min_dirX" />
		<result column="game_min_ssd" property="game_min_ssd" />
		<result column="game_std_os" property="game_std_os" />
		<result column="game_std_cpu" property="game_std_cpu" />
		<result column="game_std_ram" property="game_std_ram" />
		<result column="game_std_vga" property="game_std_vga" />
		<result column="game_std_dirX" property="game_std_dirX" />
		<result column="game_std_ssd" property="game_std_ssd" />
		<result column="game_info" property="game_info" />
		<result column="game_platform" property="game_platform" />
		<result column="game_production" property="game_production" />
		<result column="game_release" property="game_release" />
		<collection property="imgDto" resultMap="ImgDTO"></collection>
	</resultMap>

	<!-- 검색 조건문 -->
	<sql id="criteria">
		<trim prefix="order by" suffix="desc" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							game_release
						</when>
						<when test="type == 'C'.toString()">
							game_sellcount
						</when>
						<when test="type == 'W'.toString()">
							game_price
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>

	</sql>
	
	<!-- 게임 등록 -->
	<insert id="newInsert" useGeneratedKeys="true"
		keyProperty="game_no">
		INSERT INTO gameTBL (game_title, game_price, game_genre, game_sellcount, game_adultcheck, game_min_os, game_min_cpu, 
		game_min_ram, game_min_vga, game_min_dirX, game_min_ssd, game_std_os, game_std_cpu, game_std_ram, game_std_vga, game_std_dirX, 
		game_std_ssd, game_info, game_platform, game_release)
		VALUES (#{game_title}, #{game_price}, #{game_genre}, #{game_sellcount}, #{game_adultcheck}, #{game_min_os}, #{game_min_cpu}, #{game_min_ram}, 
		#{game_min_vga}, #{game_min_dirX}, #{game_min_ssd}, #{game_std_os}, #{game_std_cpu}, #{game_std_ram}, #{game_std_vga}, #{game_std_dirX}, #{game_std_ssd},
		#{game_info}, #{game_platform}, #{game_release});
	</insert>


	<select id="gameRead" resultType="com.frogame.www.model.GameDTO">
		SELECT * from gameTBL 
		where game_no = #{game_no}
	</select>


	<!-- 페이징 -->
	<select id="getListPaging"
		resultType="com.frogame.www.model.GameDTO">
		select * from gameTBL
		<if test="keyword != null">
		<![CDATA[
			where game_title like concat('%',#{keyword},'%')
			]]>
			<include refid="criteria"></include>
		</if>
		limit #{skip},#{amount}
	</select>
	
	<select id="hotGame"
		resultType="com.frogame.www.model.GameDTO">
		select * from gameTBL order by game_sellcount desc
	</select>
	
	<select id="newGame"
		resultType="com.frogame.www.model.GameDTO">
		select * from gameTBL order by game_release desc
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from gameTBL
		<if test="keyword != null">
		<![CDATA[
		where game_title like concat('%',#{keyword},'%')
		]]>
		</if>
	</select>

	<select id="admin_gameList" resultType="com.frogame.www.model.GameDTO">
		Select * from gameTBL 
		
		<if test="keyword != null">
		<![CDATA[
			where game_title like concat('%',#{keyword},'%')
			]]>
		</if>
		order by game_no DESC limit #{skip},#{amount}
		
	</select>

	<delete id="gameDelete">
		DELETE FROM gameTBL WHERE game_no = #{game_no};
	</delete>

	<insert id="imgInsert">
		INSERT INTO imgTBL(game_no, file)
		VALUES(#{game_no},
		#{file})
	</insert>

	<select id="getImage1" resultType="com.frogame.www.model.ImgDTO">
		select * from imgTBL WHERE
		game_no = #{game_no} limit 1
	</select>

	<select id="getImages" resultType="com.frogame.www.model.ImgDTO">
		select * from imgTBL WHERE
		game_no = #{game_no}
	</select>

</mapper>