<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frogame.www.mapper.GameMapper">

		<!-- 이미지 테이블 -->
	<resultMap type="com.frogame.www.model.ImgDTO" id="ImgDTO">
		<id column="game_no" property="game_no" />
		<result column="file" property="file" />
	</resultMap>
	
	<!-- 게임 테이블 -->
	<resultMap type="com.frogame.www.model.GameDTO" id="GameDTO">
		<id column="game_no" property="game_no" />
		<result column="game_title" property="game_title" />
		<result column="game_price" property="game_price" />
		<result column="game_genre_no" property="game_genre_no" />
		<result column="game_regdate" property="game_regdate" />
		<result column="game_sellcount" property="game_sellcount" />
		<result column="game_adultcheck" property="game_adultcheck" />
		<collection property="imgDto" resultMap="ImgDTO"></collection>
	</resultMap>

	<!-- 검색 조건문 -->
	<sql id="criteria">
		<trim prefix="order by" suffix="desc" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							game_regdate
						</when>
						<when test="type == 'C'.toString()">
							game_sellcount
						</when>
						<when test="type == 'W'.toString()">
							game_price
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>

	</sql>

	<!-- 게임 등록 -->
	<insert id="newInsert" useGeneratedKeys="true"
		keyProperty="game_no">
		INSERT INTO gameTBL(game_title, game_price,
		game_genre)
		VALUES(#{game_title}, #{game_price},
		#{game_genre})
	</insert>

	<!-- 게임 검색 -->
	<!-- <select id="gameSearch" resultType="com.frogame.www.model.GameDTO"> 
		<![CDATA[ SELECT * from gameTBL where game_title like concat('%',#{search},'%') 
		]]> <trim prefix="ORDER BY" suffix="DESC"> <if test="orderBy == 'concern'"> 
		game_no <include refid="criteria"></include> </if> <if test="orderBy == 'popular'">game_sellcount</if> 
		<if test="orderBy == 'views'">game_count</if> </trim> limit #{skip},#{amount} 
		</select> -->

	<select id="jjinList" resultType="com.frogame.www.model.GameDTO">
		SELECT * from gameTBL
	</select>

	<select id="gameRead" resultType="com.frogame.www.model.GameDTO">
		SELECT * from gameTBL 
		where game_no = #{game_no}
	</select>


	<!-- 페이징 -->
	<select id="getListPaging"
		resultType="com.frogame.www.model.GameDTO">
		select * from gameTBL
		<if test="keyword != null">
		<![CDATA[
			where game_title like concat('%',#{keyword},'%')
			]]>
			<include refid="criteria"></include>
		</if>
		limit #{skip},#{amount}
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from gameTBL
		<if test="keyword != null">
		<![CDATA[
		where game_title like concat('%',#{keyword},'%')
		]]>
		</if>
	</select>

	<select id="admin_gameList" resultType="com.frogame.www.model.GameDTO">
		Select * from gameTBL order by game_no DESC;
	</select>

	<select id="admin_gameList"
		resultType="com.frogame.www.model.GameDTO">
		Select * from gameTBL
	</select>


	<delete id="gameDelete">
		DELETE FROM gameTBL WHERE game_no = #{game_no};
	</delete>

	<insert id="imgInsert">
		INSERT INTO imgTBL(game_no, file)
		VALUES(#{game_no},
		#{file})
	</insert>

	<select id="getImage1" resultType="com.frogame.www.model.ImgDTO">
		select * from imgTBL WHERE
		game_no = #{game_no} limit 1
	</select>

	<select id="getImages" resultType="com.frogame.www.model.ImgDTO">
		select * from imgTBL WHERE
		game_no = #{game_no}
	</select>

</mapper>