<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">                  
<mapper namespace="com.frogame.www.mapper.NoticeMapper">


<insert id="noticeInsert">
INSERT INTO noticeBoardTBL(notice_title, notice_content, notice_writer) VALUES(#{notice_title}, #{notice_content}, #{notice_writer})
</insert>

<select id="noticeList" resultType="com.frogame.www.model.NoticeDTO">
select * from noticeBoardTBL order by notice_no DESC
</select>

<select id="noticeRead" resultType="com.frogame.www.model.NoticeDTO">
select * from noticeBoardTBL where notice_no = #{notice_no}
</select>



<update id="noticeViewCount">
		UPDATE noticeBoardTBL set notice_count =
		notice_count+1 WHERE notice_no = #{notice_no};
	</update>
	
	<select id="noticeByCount"
		resultType="com.frogame.www.model.NoticeDTO">
		select * from noticeBoardTBL order by notice_count DESC
	</select>

	<select id="getListPaging"
		resultType="com.frogame.www.model.NoticeDTO">
		select *
		from noticeBoardTBL order by notice_no DESC limit #{skip}, #{amount}
	</select>
	
	<select id="getTotal" resultType="int">
        select count(*) from noticeBoardTBL
    </select>
    
    <delete id="noticeDelete"> 
    DELETE FROM noticeBoardTBL WHERE notice_no = #{notice_no} 
    </delete>
    
    <update id="noticeUpdate">
    UPDATE noticeBoardTBL SET notice_title = #{notice_title}, notice_content = #{notice_content} WHERE notice_no = #{notice_no}
    </update>
    
    <select id="noticeSearch" resultType="com.frogame.www.model.NoticeDTO">	
		<![CDATA[	SELECT * from noticeBoardTBL where notice_title like concat('%',#{search},'%')]]>
	</select>
    
    




</mapper>